In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from xgboost import XGBClassifier

# Testes
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,ExtraTreesClassifier
from sklearn.metrics import confusion_matrix

In [4]:
df = pd.read_csv("Loan_final.csv")

In [5]:
df.head()

   Unnamed: 0   Loan_ID Loan_Status
0           0  LP001015           Y
1           1  LP001022           Y
2           2  LP001031           Y
3           3  LP001035           Y
4           4  LP001051           Y

In [6]:
del df['Unnamed: 0']

In [7]:
df

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           Y
366  LP002989           Y

[367 rows x 2 columns]

In [6]:
df['Loan_Status'] = df['Loan_Status'].apply(lambda x: "Y" if x ==1 else "N")

In [8]:
df.to_csv("Loan_final_1",index=False)